.form {
	position: relative;
	margin-bottom: 15px;
}

.form__row {
	margin-bottom: 15px;
}

.form__input {
	border: 1px solid rgba($black, 0.5);
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 0 0 2px 0 rgba($black, 0.2);
	display: inline-block;
	outline: none;
	font-size: 16px;
}

.form__submit {
	border-radius: 5px;
	padding: 5px 10px;
	background-color: pink;
	border: 1px solid rgba($black, 0.5);
	box-shadow: 0 0 2px 0 rgba($black, 0.2);
	outline: none;
	font-size: 16px;
}
