.cards {

}

.card {
	@extend %card;
	opacity: 0;
	position: relative;
}

.card--show {
	opacity: 1;
}

.card--warning {
	background-color: orange;
	border: 1px solid orangered;
	display: flex;
	align-items: center;
	.title {
		margin-bottom: 0;
	}
}

.card__icon {
	width: 30px;
	height: 30px;
	margin-left: auto;
}

.card__button {
	position: absolute;
	top: 5px;
	right: 5px;
}


.card__top {
	display: flex;
	margin-bottom: $gap;
	align-items: flex-start;
}

.card__item {
	border-bottom: 1px solid $border;
	padding-bottom: $gap;
	margin-bottom: $gap;
	&:last-child {
		margin-bottom: 0;
		border-bottom: 0;
		padding-bottom: 0;
	}
}

.card__image {
	margin-right: $gap;
	width: 30px;
}
