.food-filter {

}
.food-filter__row {
	border-bottom: 1px solid lightgrey;
	display: flex;
	align-items: center;
	font-size: 10px;
}
.food-filter__button {
	padding: 5px 0;
	text-align: left;
	// background-color: lightgoldenrodyellow;
	display: block;
	// width: 100%;
	// padding-right: 40px;
	position: relative;
	flex: 1;
	background-color: $white;
	font-size: 13px;
}
.food-filter__label {
	padding: 5px 0;
	// position: absolute;
	// width: 40px;
	// top: 0;
	// right: 0;
	height: 100%;
	// background-color: lightcyan;
	text-align: right;
	padding-left: $gap;
	margin-right: $gap;

	input {
		border: 1px solid $border;
		width: 30px;
	}
}
