.header--active {
	.nav__list {
		transform: translate(0, 0);
	}
	+ .main {
		filter: blur(10px);
	}
}

.nav {
	padding: $gap;
	text-align: right;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.nav__list {
	background-color: $white;
	box-shadow: $box-shadow;
	text-align: left;
	position: absolute;
	right: 0;
	width: 80vw;
	height: 100vh;
	top: 0;
	padding: 50px $gap $gap;
	z-index: 1;
	transform: translate(105%, 0);
	transition: $duration $easing;
	transition-property: transform;
}

.nav__list--active {
	transform: skewX(0) translate(0, 0);
}

.nav__indicator {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;

	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-right: 5px solid black;
}

.nav__link {
	color: $black;
	text-decoration: none;
	padding: 5px 0;
	display: inline-block;
	transition: $duration $easing;
	transition-property: color, background-color;
}

.nav__link--active {
	background-color: rgba($action, 0.3);
	color: $black;
	margin: 0 #{-$gap};
	padding: 5px $gap;
	display: block;
}

.nav__toggle {
	background-color: transparent;
	width: 30px;
	height: 30px;
	margin-left: auto;
	padding: 0;
	position: relative;
	outline: none;
	z-index: 2;
}

.nav__toggle--active {
	.nav__toggle-line--mid {
		opacity: 0;
	}

	.nav__toggle-line--first {
		transform: translate(0, 0) rotate(45deg);
	}

	.nav__toggle-line--last{
		transform: translate(0, 0) rotate(-45deg);
	}
}

.nav__toggle-line {
	height: 6px;
	width: 100%;
	display: block;
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	transition: $duration $easing;
	transition-property: opacity transform;
	transform-origin: center center;
	border-radius: 10px;
}

.nav__toggle-line--first {
	transform: translate(0, -200%);
}
.nav__toggle-line--last {
	transform: translate(0, 200%);
}
