body {
	font-family: 'Open Sans', sans-serif;
}

.root {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	background-image:
	radial-gradient(ellipse at top left, #D7FF67 0%, transparent),
	radial-gradient(ellipse at top right, #E8D972 0%, transparent),
	radial-gradient(ellipse at bottom left, #FFD98A 0%, transparent),
	radial-gradient(ellipse at bottom right, #E8A572 0%, transparent),
	radial-gradient(ellipse at center, #FF907E 0%, transparent);
}

.main {
	flex: 1;
	padding: $gap * 2 $gap;
	position: relative;
	transition: $duration $easing;
	transition-property: transform, filter;
	will-change: filter;
	// min-height: 50vh;
}

.title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: $gap;
	letter-spacing: 1.4;
	&:last-child {
		margin-bottom: 0;
	}
}

.title--small {
	font-size: 20px;
}
