.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	background-color: lightsteelblue;
}

.navigation__link {
	display: inline-block;
	padding: 10px;
	background-color: lightgreen;
}

.navigation__link--disabled {
	opacity: 0.5;
	background-color: lightgray;
}

.navigation__icon {
	width: 20px;
	height: 20px;
}
