.progress {
	box-shadow: $box-shadow;
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 0;
	height: $gap;
	margin: 0;
	background-color: $white;
	z-index: 1;
}

.progress--expanded {
	height: 40px;
}

.progress__inner {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	overflow: hidden;
	transition: $duration $easing;
	transition-property: width;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: -100%;
		width: 300%;
		height: 100%;
		animation-name: animation;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		background: repeating-linear-gradient(
			45deg,
			rgba($black, 0.2) 0,
			rgba($black, 0.2) 10px,
			transparent 10px,
			transparent 20px,
		);
	}
}

.progress__part {
	height: 100%;
	transition: $duration $easing;
	transition-property: width;
}

.progress__part--blue {
	background-color: lightblue;
}
.progress__part--green {
	background-color: lightgreen;
}
.progress__part--orange {
	background-color: orange;
}
.progress__part--red {
	background-color: #c73d3d;
}

@keyframes animation {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(29px, 0)
	}
}
