$black: #000;
$white: #fff;
$border: lightgrey;

$action: #54b1de;
$disabled: #d0d0d0;

$duration: 0.2s;
$easing: linear;

$gap: 10px;

// v1
$radius: 4px;
$box-shadow: 0 0 3px 0 rgba($black, 0.5);

// v2
// $radius: 0;
// $box-shadow: none;
